body{
   background-image: url("./images/dress_ur_samara_background.png");
}

.playSpace{
  visibility: none;
  padding-right: 20px;
  margin-top: 10px;
  padding-bottom: 70px;
  padding-left: 20px;
}

.sprite{
   background-repeat: no-repeat;
   height: 400px;
   width: 400px;
   justify-content:center;
   position: absolute;

}

#clothes{
   
   padding-top:100px;

}

#pinkReady{

   justify-content: flex-end;
   
}

#victoryScreen{
   visibility:collapse;

}


#clothes{
   height: 400px;
   width: 400px;
   justify-content:center;
   position: absolute;
   padding-right: 20px;
}


#pink{
   font-family: "Comic Sans MS", "Comic Sans", cursive;
   border-color: pink;
   justify-content: center;
   border-style: dashed;
}

.botoes:hover{
   padding-left: 20px;
   background-color: white;
   justify-content: center;
   background-color: plum;
   border-color: white;
   
}

.botoes{
   padding: 10px;
   justify-content: center;
}

#botoesSmall{
   padding-left: 31px;
}

#armario{
  
  background-color: plum;
  padding-left: 5px;
  padding-right: 5px;
  
  border-style: dashed;
  border-color: pink;
  margin-top: 475px;
  margin-left: 30px;
  

}

#prateleiras{
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content:space-between;
  
  
}

#menuPrincipal{
  
  padding-top: 55%;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  color: plum;  
  justify-items: center;
  outline-color: white;
  
}
