#container{
  visibility: hidden;
  position: absolute;
  margin: auto;
  background-image: url("images/dress_ur_samara_background.png");


}


#background {
  position: absolute;
  background-image: url("/images/dress_ur_samara_background.png");


}

#samara{

   position: absolute;
   

   background-image: url("/images/samara_blush.png");
}





#pink{
   font-family: "Comic Sans MS", "Comic Sans", cursive;
   border-color: pink;
   justify-content: center;
}

.title{
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  color: plum;  
  justify-items: center;

}


.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}




